body {
  background-color:#110014;
  color:#E0FFE1;
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
}

.topnav{
  background-color: #110014;
  overflow:hidden;
}

.topnav a{
  float:left;
  color:#E0FFE1
  text-align:center;
  padding:14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover{
  color:#d81e5b;
}

.topnav a:visited{
  color:#e0ffe1;
}
